[2016-02-06 20:57] mmagnus opened #1 "Define tags NOT using self.tags (but how?)"
[code]

crazy idea of using self.username for getting tags. Drop it for a moment.

[2016-02-09 02:11] ssd2 opened #2 "crashes on empty tags"
If all the articles are emptied out of an article, instead of leaving a blank section, the recipe aborts and doesn't create a book.

[2016-02-09 15:06] ssd2 commented on #2
Fixed -- see pull request.

[2016-02-28 18:04] #2 closed

[2016-11-06 15:43] acca opened #4 "Images after the first are not converted"
Images after the first are not converted, tested with calibre 2.71

Please see also this related issue: https://github.com/alvaroreig/pocket2kindle/issues/1

[2017-03-12 10:45] mmagnus opened #5 "Pocket + [Mon, 05 Dec 2016]"
Hi Marcin,
Thanks for the plugin.
Is it normal to have the title of the Document downloaded as Pocket + [Mon, 05 Dec 2016]? It'd be great to have the title that appears in Pocket

[2017-05-02 17:14] #5 closed

[2017-05-03 13:53] #1 closed

[2017-05-03 15:05] #4 closed

[2017-05-21 12:56] panweihwa opened #7 "UnicodeDecodeError: 'utf8' codec can't decode byte 0xd6"
Bug report

I have tried Calibre pocket+ recipe for two days in different computers with different version of calibre (v1.48 for chinese XP to most updated v2.85 on chinese win7). However, similar bug happens and the calibre process terminates while fetching data all the time.

I post the error messages below. I guess the main reasons are related to the Chinese text encoded format.

The original p

[2017-05-21 12:58] panweihwa commented on #7
The original pocket recipe which the pocket+ modified from is working ok on my machine. Yet, there is a warning message on the log file:
WARNING: Encoding detection confidence for utf-8 is 99%
Parsed

[2017-05-21 14:28] mmagnus commented on #7
@panweihwa  can you upload here a link to the article that caused the crash, please

[2017-05-22 06:53] panweihwa commented on #7
The last article link is https://getpocket.com/a/read/1651214851, entitled as "倭寇，一個王朝的謊言"
However, I suspect that it is not the link causing collapse, according to the last traceback, the crash caused by creating opf file.

Please see previous original post for details.

[2017-05-22 09:08] mmagnus commented on #7
@panweihwa but i need a link to re-generate the problem to see what's wrong. Now I have it :-)

[2017-05-22 10:21] mmagnus commented on #7
![screen shot 2017-05-22 at 12 20 27 pm](https://cloud.githubusercontent.com/assets/118740/26303774/140987f4-3ee9-11e7-9a5b-9bcd1c39ee43.png)

it seems to work in my case. Can you check if you are using the latest version of programs, Calibre and the plugin?

[2017-05-22 12:57] panweihwa commented on #7
I am trying to run the most updated Calibre 1.85.1 on the Chinese win10 OS in my Office. The problem still happened.
It is terminated by the same bug. Is it because I am running on Chinese OS?

-----------------------------------------------
Downloaded article: 國家財政困難 李來希：為何有前瞻計畫？ from https://getpocket.com/a/read/1737876159
Fetching file:c:\tmp\_user_\tmpbvspoi
Fetched c:\tmp\_user_\tmpbvspoi in

[2017-05-22 13:02] mmagnus commented on #7
you can post it to Calibre issue tracker maybe.. hmm.. It will be hard for me to "fix it" since I have no problem with this. I have articles in Polish (with żąó) and it works so I don't know why it does work with Chinese.

[2017-05-22 18:03] panweihwa commented on #7
I changed the maximum downloaded article to only 3, still crashed. It seems to me that the error occurred while creating OPF file always, not related to links.

File "site-packages\calibre\web\feeds\news.py", line 1403, in create_opf
UnicodeDecodeError: 'utf8' codec can't decode byte 0xac in position 9: invalid start byte

[2017-05-22 18:18] mmagnus commented on #7
It might be a problem of Calibre itself. Report it to them and maybe they can help.

[2017-05-22 18:18] #7 closed

[2017-06-06 18:49] lfzoz opened #8 "Unicode error when downloading some articles"
HI, this is an example of a problem, when downloading some articles from pocket.
What can be wrong?
LF

[code]

[2017-07-02 20:11] irgendwienet opened #9 "Article download stopped working -- [some solution to get Pocket running]"
A few days ago the article download just stopped working.

The plugin will login and fetch the list of articles since I can see it processing all articles in the calibre jobs window.
But it will not download any article and just produces an empty book in calibre with a size of < 0.1 MB.

The logfile is full of entries like

[code]

Maybe pocket starts hating us (or just changes something) - see co

[2017-07-03 08:30] alvaroreig commented on #9
I can confirm the issue:
`1% Starting download [5 thread(s)]...
Failed to download article: Machine learning como ventaja competitiva from https://getpocket.com/a/read/1804699537
2% Article download failed: Machine learning como ventaja competitiva
Failed to download article: Qué es la autofagia y qué puedes tomar durante un ayuno from https://getpocket.com/a/read/1804789356
4% Article download fa

[2017-07-03 08:50] mmagnus commented on #9
Thanks, I will into that in the evening. I hope we can fix it asap.

[2017-07-03 17:28] #8 closed

[2017-07-03 17:32] mmagnus commented on #9
Ok, confirmed:
[code]
Let's see what I can do...

[2017-07-05 16:46] dramalho commented on #9
Any clues? Enquiring and very appreciative minds want to know :)

[2017-07-05 17:01] mmagnus commented on #9
Not yet. I guess Pockets hates right now.. I'll try again today. :(

[2017-07-05 17:03] dramalho commented on #9
I sort of tried the article URL + the ajax postfix - which is how I think you get the articles? - but only on the browser, which only redirects back .. so not great help there :) .

[2017-07-05 17:03] dramalho commented on #9
I think they hate everybody, the calibre stock recipe also fails :)

[2017-07-05 17:03] dramalho commented on #9
anyhoo, thank you Marcin :)

[2017-07-05 19:57] boguszk commented on #9
Hi, I can share what I found till now, maybe it will help somehow.
`fc_id = re.search(r"formCheck = \'([\d\w]+)\';", fc_tag).group(1) `
is broken beacuse
`fc_tag = soup.find('script', text=re.compile("formCheck"))`
returns None.
It returns None, beacuse in
`soup = self.index_to_soup(url)`
we don't have pretty article page with `var formCheck` waiting to be parsed,
but only getpocket login page.
Fo

[2017-07-07 21:24] mmagnus commented on #9
Not successful yet in fixing. Maybe next week ;( ...

[2017-07-10 16:11] mgreen3 commented on #9
Thanks for all the work Marcin, keep us updated! Really get good use out of and depend on this plugin :D

[2017-07-13 16:44] mmagnus commented on #9
@boguszk It seems that we can log in because I got names of my articles. I was able to get fc_id but still, I was not able to get it to run. I pushed the code with some attempts to solve it. Maybe someone is able to take it from here. I have to read more to fix it.

[code]

[2017-07-18 14:58] mmagnus commented on #9
It's interesting that https://www.crofflr.com works. Temporary solution until we find a solution for this plugin.

[2017-07-28 10:33] mmagnus commented on #9
Hey, I'm so sorry. I have the super hard deadline for my PhD at the beginning of September and I can't work to fix this plugin. Maybe some of you, is able to look at it. If not, maybe we can reach the original team to ask them for help. Sorry, this is how it looks right now.

[2017-07-29 10:46] alvaroreig commented on #9
@mmagnus best of luck with your PhD, and many thanks! I will give it a try.

[2017-07-29 12:35] alvaroreig commented on #9
(disclaimer: python & calibre rookie)

I am where @mmagnus was some days ago:

It looks like the formCheck value is (now) located in the original_url_container:

<li class="original_url_container"><a class="original_url" href="https://getpocket.com/redirect?url=http%3A%2F%2Fwww.jotdown.es%2F2017%2F07%2Fnostalgia-remasterizada-recuerdos-alta-definicion%2F&amp;**formCheck=923af088bcb279dd1c3820c502e

[2017-08-04 07:09] Podesta commented on #9
The original recipe also doesn't work anymore. Has anyone sent them a message? They tend to have a pretty good support, so they might be able to help. I just don't want to spam them if someone already talked to them.

[2017-08-16 17:08] spinda commented on #9
It appears the problem is that the script doesn't have the right cookies set to send to getArticle.php... because the login is failing... because they've added a reCAPTCHA challenge to the login form :(

[2017-08-23 05:21] victorvogelpoel commented on #9
Pity, just now I wanted to convert my year's supply of Pocket articles to ePUB for reading on an e-reader during vacation...

[2017-08-23 18:10] Podesta commented on #9
For you guys that know a bit what you are doing, which is not my case, you can contact pocket dev team directly and ask for their help at api@getpocket.com.

[2017-08-23 20:47] spinda commented on #9
Personally I've rigged up a version of this which takes an API key with access to Pocket's protected `GetText` API. If I have the time I'll polish it up and publish it somewhere.

[2017-08-24 15:11] caglorithm commented on #9
@spinda let us please have it as well!

[2017-08-24 20:52] mmagnus commented on #9
@spinda can you make a pull request or put it anywhere. I have still two hardcore weeks of PhD writing... I can't do anything before ;(

[2017-09-16 23:58] dannyfile commented on #9
Hey, @spinda. It's been a long time. Maybe you could share your fix with us?

[2017-09-25 12:49] bluesodium commented on #9
A fix for this would be great..

[2017-10-11 18:27] mmagnus commented on #9
@spinda can you help us. I just submitted my thesis ;-) I should have more time for reading, and I would love to have this plugin working! :-)

[2017-10-13 08:13] alvaroreig commented on #9
Congrats @mmagnus!

[2017-11-15 13:52] jonathancardonarojas commented on #9
Its sad this plugin is dying :( Had to change to Instapaper and a recipe not as good as this was.
Anyway, thank you so much. It was great while it worked.

[2017-11-15 13:58] caglorithm commented on #9
I can’t give up pocket. And my Kindle is basically worthless without this plugin working… :(  I have fiddled with the python script myself but I can’t get it to run.

Can we test the script in a separate environment instead of running it in calibre? It’s hard to debug it if you need to run it in calibre...

[2017-11-15 15:22] rayslava commented on #9
The same question about environment. Maybe it's possible to "cut" that basic browser functional from Calibre into separate "browser host" for debug purposes?

[2017-11-15 16:22] alvaroreig commented on #9
@jonathancardonarojas I know how you feel, I used to run this software every night, and even coded a Docker wrapper around it: https://github.com/alvaroreig/pocket2kindle

However, as @mmagnus noted, https://www.crofflr.com still works. It is not as good (all the items are together, you can't split by tag, the images are worse, etc.) but you can still read your news.

Regards,

[2017-11-15 17:45] vucalur commented on #9
To all of you seeking a competitive fall back,
take a second look at [Instapaper's recipe](https://github.com/kovidgoyal/calibre/blob/master/recipes/instapaper.recipe).

You can have your content broken down into categories too:
Simply add links to your Instapaper's folders to [the `feeds` list](https://github.com/kovidgoyal/calibre/blob/master/recipes/instapaper.recipe#L41).

@jonathancardonaroja

[2017-11-15 19:07] jonathancardonarojas commented on #9
@vucalur In general, it's a very good option. Apart from the said options, I noticed that the recipe only acquires the articles that Instapaper list shows all at once in one page (an approximate of 30 articles). With my very limited knowledge, I was able to get a workaround by adding the number of the page at the end of the link, creating one recipe for each page (I think I found the suggestion so

[2017-11-15 19:13] jonathancardonarojas commented on #9
@caglorithm The same here. I've tried FiveFilters add-on to send articles to Kindle one by one, a painfully slow process.

[2017-11-15 19:18] jonathancardonarojas commented on #9
@alvaroreig oh, I had forgotten that service. If I get tired from using both services, I'll give it a try. Thank you.

Was your recipe the one of https://p2k.co/ ?

[2017-11-15 20:41] vucalur commented on #9
Oh, forgot to mention pagination. Yeah, you must provide explicit links to all of the pages of a folder.
However, it's not a big deal with following tips. Besides, you have a better control over what's being fetched and what's not.

### pro-tip 1
`feeds` is an array. An array ( `[…, …, …]` ) of tuples (`(…, …, …)`), to be exact.
The code in the repo is a bit unfortunate for demonstrational purpose

[2017-11-15 20:51] vucalur commented on #9
- Apart from the recipe for Instapaper, there's also an officially supported download to kindle option.
I use the recipe anyway for historical reasons.
- This does not mean, that the recipe for Pocket can be ditched. As I've mentioned, the proper parsing, or the lack thereof, is what distinguishes the two services.

[2017-11-15 23:42] caglorithm commented on #9
I’m using Pocket for a variety of reasons, also because I’m used to the Mac and Android app, and it works with 95% of all articles I want to read. I appreciate everyone’s support and suggestions to find a working alternative to Pocket, but I think we should focus the discussion back on how to get the Pocket recipe working.

I think the problem lies in the fact that you can’t get the full article c

[2017-11-24 16:10] mmagnus commented on #9
I'm trying also to fix it. Trying to learn anything from other tools. This works https://github.com/rakanalh/pocket-cli

[2017-11-24 16:31] Podesta commented on #9
Hey @mmagnus , I know I've said it already, but a couple months ago I contacted pocket support about it, and they said I could talk to the devs directly with api@getpocket.com From experience they tend to be quite friendly and helpful.

[2017-11-24 16:45] mmagnus commented on #9
@Podesta Thanks. I can contact them, let's see if then can help :-)

[2017-11-24 16:59] mmagnus commented on #9
Dear @rayslava @caglorithm I don't know if you have been there. I just discovered the way to debug the plugin:

[code]
I see the title, so something works. I'm trying to fix parsing.

[2017-11-24 17:42] rayslava commented on #9
@mmagnus, great! Thanks. I think I'll have some time next week to dive into issue.

[2017-11-26 17:03] saschalalala commented on #9
I tried to fiddle around with it and after getting some information about what went wrong, I'm quite sure that you are going to have to implement https://github.com/rakanalh/pocket-api if you want to make it work again. It seems to me like accessing the API without oAuth is not supported anymore.

[2017-12-17 07:56] Defolters opened #11 "ValueError: time data *** does not match format ***"
Hello! When 'title_with_date = True' I got this error:
<details>
  <summary>calibre options</summary>
  calibre, version 3.14.0 (win32, embedded-python: True)
Conversion error: Failed: Fetch news from Pocket+

Fetch news from Pocket+
Conversion options changed from defaults:
  output_profile: 'generic_eink'
  verbose: 2
Resolved conversion options
calibre version: 3.14.0
{'asciiize': False,
 'auth

[2017-12-29 10:55] TheKiteRunning opened #12 "Failed to download article"
Hi, I have installed the reciple and set as the readme file demonstrates, but unable to download any webpages, Thank you very much for your time! The following is the error message:

Fetch news from Pocket
Conversion options changed from defaults:
  output_profile: 'kindle_pw'
  verbose: 2
Resolved conversion options
calibre version: 3.13.0
{'asciiize': False,
 'author_sort': None,
 'authors': Non

[2018-01-08 05:27] #12 closed

[2018-07-05 07:16] Danilka commented on #9
Have anyone looked at this? It's still not working :-(

[2019-07-27 09:06] dlo9 commented on #9
For anyone still interested, I've recently created a replacement [here](https://github.com/dlo9/calibre-recipes/blob/master/Pocket.recipe) to work with Pocket's v3 API. I also have an RSS version [here](https://github.com/dlo9/calibre-recipes/blob/master/PocketRSS.recipe) that allows use of RSS feeds as discussed [above](https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/issues/9#issuecomment-3

[2019-07-27 12:50] dagomar commented on #9
Story time. After 5+ years of not using my Kindle I decided to do a digital cleanse this holiday and just bring my Kindle for reading. It didn't turn on. Then this morning after reading some comments on an ifixit topic, it got it to load again and eventually it turned on. Awesome! So still this morning I installed Calibre, going through the ol' reading list and figured I'd like to put my extensive

[2020-01-02 11:59] Monirzadeh commented on #9
i can't add that to calibre4.7

[2020-01-02 19:43] #11 closed

[2020-01-02 19:47] mmagnus commented on #9
wow, I have missed this. YEAH! This works, I will try to merge it into my plugin if I can. Thanks @dlo9 amazing work!

To authorize you might just click on this:

https://getpocket.com/auth/authorize?request_token=88ac5a8d-f42c-16ae-ff93-3fde82&redirect_uri=https://calibre-ebook.com/

in the plugin, it gets buried into a log, at least in my case.

[2020-01-02 20:08] mmagnus commented on #9
Can you elaborate, @Monirzadeh it works for me, I do have Calibre 4.7

[2020-01-03 11:49] Monirzadeh commented on #9
i update to calibre 4.8 and i can add that to my source
but it is download noting
it try to fetch article but all of them failed

[2020-01-05 09:10] alvaroreig commented on #9
Hi there @Monirzadeh @mmagnus @dlo9

I can confirm that the fix (as merged yesterday by @mmagnus ) works for me in calibre 4.8. I had to manually create the ~/.config/calibre/custom_recipes directory though.

I am missing the old sort by tags functionality. Do you think you will be able to get it back @mmagnus?

Despite that, I think that this fix provides a better ebook than using crofflr, which

[2020-01-05 15:35] mmagnus commented on #9
@alvaroreig ;-) of course. Fortunately, it was easy to hack into getting tagged articles. It works on my computer, I will try to push changes today, in a few hours! :-) I'm super excited about it. Thanks, @dlo9  for sharing your code!

![screenshot_2020_01_04T22_19_37+0100](https://user-images.githubusercontent.com/118740/71782349-4dece180-2fd9-11ea-9b25-32e3f5b4eab8.png)

[2020-01-05 17:45] #9 closed

[2020-01-05 18:50] mmagnus commented on #12
#9  the same issue, now solved!

[2020-01-05 21:52] Monirzadeh opened #13 "Can't download more that 43 Article"
hi
i use this plugin and it's work fine, if you set variable  `oldest_article` and `max_articles_per_feed` 43 or less than that
if you try to get article more than 43 item, plugin can't fetch article and give you this error
i have more than 500 item in my pocket
[code]

[2020-01-07 08:44] FraserMorgan opened #14 "KeyError: u'sort_id'"
Hi, just found this recipe and installed this code to access my Pocket list on my Kindle. Once I run it to fetch the news, I seem to be getting an error associated with u'sort_id'.

Any ideas what is the issue. Unlike issue https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/issues/13#issue-545471827 changing the `oldest_article` and `max_articles_per_feed` values doesn't change the outcome.

Fi

[2020-01-07 12:53] mmagnus commented on #13
OK, thanks guys, I will look into that, and #14.

[2020-01-14 14:57] strobe commented on #14
I have the same error (and I also configured Calibre for Kindle output).

I found that actually recipe works well from CLI like that:
[code]
but for some reason currently, it doesn't work via Calibre UI

[2020-01-17 04:30] m040601 opened #15 "python3 support ?"
Hi, thanks for your work in this interesting fork.

I'm having the same problem as everyone with the KeyError: u'sort_id'
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/issues/14

I'm on ArchLinux, and the offilicial (and only) python version is python3.
Theres is also calibre for python 3 and calibre for python 2.

I tried every possible combination of python versions and calibre, but I st

[2020-03-13 12:25] alvaroreig opened #16 "Recipe doesn't archive items despite having archive_downloaded = True"
Hi there,

Since a couple of weeks ago I have noticed that articles are no longer archived despite having "archive_downloaded = True" in the recipe.

I have tried with crofflr and it doesn't seem to work as well, maybe the Pocket team changed something in the API?

Thank you, regards.

[2020-03-13 12:48] mmagnus commented on #16
OK, I'll take a look

[2020-03-14 18:40] mmagnus commented on #16
@alvaroreig  can you try again? I think it works right now. It seems that, in my case, Pocket on OSX shows 136 articles, but https://app.getpocket.com looks ok.

[2020-03-15 13:47] alvaroreig commented on #16
Hi @mmagnus

I have done my testing and my conclusions are:

TAGS = [''], to_pull = 'all' => OK
TAGS = [''], to_pull = 'unread' => OK
TAGS = ['','tag1','tag2'], to_pull = 'unread' => OK
TAGS = ['tag1','tag2'], to_pull = 'unread' => NOT OK. It archives the articles of (aparently) tag2 but not tag1. That is the conf. I was using.

Therefore, to solve it I will just add '' to the TAGS list.

Thanks a

[2020-03-16 16:03] alvaroreig commented on #16
Hi again @mmagnus ,

My environment is behaving quite strangely (tags that show up and dissapear for example). Can you share your:

- Calibre version
- Python version
- tags,oldest_article, max_articles_per_feed, sort_method,to_pull settings?

I am going crazy over here.

Thanks a lot,

[2020-03-18 08:32] pjft commented on #13
In case it helps, I was having this error and when I changed the variable "to_pull" from "all" to 'unread' it started working and I could download my 300+ articles in one fell swoop.

[2020-03-18 08:33] pjft commented on #14
In case it helps, I was having this error and when I changed the variable "to_pull" from "all" to 'unread' it started working and I could download my 300+ articles in one fell swoop.

Might be worth a shot in case it's also the same issue for you.

[2020-03-29 15:50] mmagnus commented on #15
I think it should work with Python3, I remove the Python specification from the recipe.
I hope it will work.

Hmm.. in my case I run Calibre in the debug-mode, I still see Python2.7.16, I'm not sure how this Python is selected?

[code]

[2020-03-29 15:54] mmagnus commented on #16
Yeah, dear @alvaroreig I'm also trying now with different options.

I have the same problem:

[code]

Results: Error! Tag is archived, but 2 Arts not!

So I'm trying to find how to fix it.

One workaround for each Tag or '' to have own Pocket Recipe. So copy the file of Recipe and have one for '' and then second with different settings for Tag1 or Tag2. But yeah, it's not perfect...

[2020-03-29 16:12] mmagnus commented on #16
.. and I think when the articles are downloaded as '' (The latest) then it will not be downloaded as Tagged (if  `ARCHIVE_DOWNLOADED = True`)..

[2020-03-30 02:09] m040601 commented on #14
I updated to the latest available version of this recipe.

But this bug, "KeyError: u'sort_id'"  still persists as of end March 2020.

This workaround,
`when I changed the variable "to_pull" from "all" to 'unread' it started working and I could download my 300+ articles `
workde

[2020-03-30 02:11] m040601 commented on #14
I updated to the latest available version of this recipe.

But this bug, "KeyError: u'sort_id'"  still persists as of end March 2020.

This workaround,
`when I changed the variable "to_pull" from "all" to 'unread' it started working and I could download my 300+ articles `
workde

[2020-03-30 03:29] alvaroreig commented on #16
Hi @mmagnus

I've been testing your workaround and I can confirm your solution:

- TAGS = ['tag1'] => OK
- TAGS = ['tag1'...['tagn'] => Every article is correctly downloaded, but only tagn is archived.

Therefore, for the time being we have to chose between:

- One ebook/recipe per tag
- All the tags together in a single recipe, archive_download=false, and play with oldest_article to avoid downloa

[2020-03-31 09:04] Monirzadeh commented on #13
it is work and start download near 999 article but for now it work on epub generation step.
 it is take time  (12 hours unitl now) and it is not finish yet.

[2020-05-03 16:49] turbineseaplane commented on #9
Thank you SO much for making this!!  Just installed it and tested it and it seems to be working.
Perfect for pulling down and then transferring long articles to my Nook.

I really appreciate it - thank you!

[2020-05-12 00:08] Tamarissa opened #17 "No Option to Log In"
I've installed the recipe, and when I click 'Download Now', nothing happens. The pop-up window asking me to log in to Pocket account doesn't appear.

Attached is the debug file from Calibre:
[tmpJJOsoa.txt](https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/files/4612704/tmpJJOsoa.txt)

[2020-05-13 10:43] mmagnus commented on #17
Try this:

"if the window disappears, it might be behind the main window of Calibre"

The window might be there, simply under Calibre.
(I also had a problem with this and then I realized that the window was there)

https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin

[2020-05-13 20:03] #16 closed

[2020-05-13 20:03] #13 closed

[2020-05-13 20:03] #14 closed

[2020-05-13 20:17] mmagnus opened #18 "v2.x.x feedback needed"
@alvaroreig @Monirzadeh @TheKiteRunning the plugin had a few problems, now they are fixed, I hope you will all guys enjoy it more

[2020-05-13 22:10] Monirzadeh commented on #18
some time i get so many error like bellow
[code]
or time out to get an image (that image open in browser easily )
in generation ebook step i get so many
[code]
Side note : i can't send a PR (i don't know why) it try to move oldest article in top of script as config variable

[2020-05-13 22:34] Monirzadeh opened #19 "split pocket book to multiple book"
it take so much time to open a large book on some device (if you have so many link in your pocket)
if it possible please add an option to split final book to multiple book automatically
for example user set every 50 link as new book or set limit that with size of the book

[2020-05-13 22:43] Monirzadeh commented on #18
cleaner remove some part of Article for example in [this article](https://kafebook.ir/%D9%83%D8%AA%D8%A7%D8%A8-%D8%B3%D9%81%D8%B1-%D8%A8%D9%87-%D8%A7%D9%86%D8%AA%D9%87%D8%A7%DB%8C-%D8%B4%D8%A8/).

[2020-05-14 07:27] Monirzadeh commented on #18
if you have so many item on your list (more than 1000) and  `auto_cleanup = False`
take so much time to generate `index.htm` . it take 7:30 and not finished yet.

[2020-05-14 08:05] mmagnus commented on #19
For now, there is an indirect way to limit the size of the big is to use:

     MAX_ARTICLES_PER_FEED = 2

and I think I will not have time to work on something more than this.

[2020-05-14 12:19] mmagnus commented on #18
Hmm... it seems that your workflow is different than mine.

I'm not generating these huge books with so many articles, so I'm not sure how the plugin will behave (or likely there will be problems like you describe).

I usually generate short (~50 articles) ebooks, I guess of a size a few MB. This is the environment I'm testing the plugin, and I'm not getting the errors. For now, I have no time to

[2020-05-14 13:27] mmagnus commented on #18
What I think would be cool with the current tags system to fetch all of your tags, and process automatically your My List (Inbox) Pocket without explicitly providing any tags.

Scenario:

You go around on the Internet, you collect articles and tag them, and then you fetch them. Pocket will detect all these tags and automatically process a new book with these tags.

I'm just not sure how to get all

[2020-05-14 13:27] #17 closed

[2020-05-14 16:16] mmagnus commented on #18
What is more annoying is that the titles of articles are often missing.

[2020-05-14 20:17] mmagnus commented on #18
Eh, ok, I see that there are still some errors with sort_id. I think I have a fix for now.

However, still, when I crazy play with the settings often the result is not what I expected... something is missing in the code.. or we have to limit number of options to something that is reliable.

[2020-05-14 21:16] alvaroreig commented on #18
Hey @mmagnus ,

I gave v2.3.1 a go and found a couple of things:

- oldest_article is not within the configuration section
- tagged articles with a tag which is not set in TAGS are trated as untagged. For example, I have a tag "pocket" where I store urls that I don't want to read in my kindle. Therefore, in TAGS the tag "pocket" doesn't appear. However, if I run the recipe all the articles with th

[2020-05-15 08:19] mmagnus commented on #18
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/releases/tag/v2.3.2

- attempt to fix sort_id problem
- improve docs
- cleaner code
- move OLDEST_ARTICLE to the top

[2020-05-15 08:20] mmagnus commented on #18
Ad 1. Yeah, I kind of what this option does... but now I realized that this is what was missing in my last post. My problem was that I could get only articles very recently added to my Pocket but this is exactly when my setting could be used. Now when I set:

[code]
I get exactly what I want, all articles on, for example, `pseudoscience`.

So I cancel my previous post, I think now the plugin works

[2020-05-15 08:22] mmagnus commented on #14
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/releases/tag/v2.3.2

- attempt to fix sort_id problem
- improve docs
- cleaner code
- move OLDEST_ARTICLE to the top

[2020-05-15 08:22] mmagnus commented on #13
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/releases/tag/v2.3.2

- attempt to fix sort_id problem
- improve docs
- cleaner code
- move OLDEST_ARTICLE to the top

[2020-05-15 09:38] mmagnus commented on #18
WOW, I was able to do it! The implementation is ugly.. but works (for me at least).

https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/releases/tag/v2.4.0

No need for extra configuration of tags.

if TAGS = [] (empty list) then the plugin will connect Pocket and fetch articles based on the configuration of the plugin. Next, the plugin will get tags of these articles and group them into sectio

[2020-05-15 09:49] mmagnus commented on #18
![screenshot_2020_05_15T11_47_57+0200](https://user-images.githubusercontent.com/118740/82037259-2d791600-96a2-11ea-96d1-f3798cf698ea.png)
![screenshot_2020_05_15T11_48_12+0200](https://user-images.githubusercontent.com/118740/82037265-2f42d980-96a2-11ea-84f1-2520ea080754.png)

[2020-05-15 11:01] mmagnus commented on #18
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/releases/tag/v2.4.1

[2020-05-15 11:24] Monirzadeh commented on #18
is it possible to get specific tag and untag item?

[2020-05-15 11:41] mmagnus commented on #18
I'm not sure what you mean, but it this will do the job:
[code]

[2020-05-15 11:41] mmagnus commented on #18
or you want to get an article and untag it (so remove a tag for this article? = so the article has no tag)?

[2020-05-15 12:01] Monirzadeh commented on #18
thanks. it is that i exactly want
about missing title you have all of them on content table but some of them missing when you open the article

[2020-05-15 12:06] mmagnus commented on #18
Yeah, I know, I know, they are also at the top of the page in the book.

`politics > <title>`

however, I still don't know why there are sometimes missing from the articles.

[2020-05-15 12:07] Monirzadeh commented on #18
is it possible to use that without gui? just command line it can be useful to set as cron job

[2020-05-15 12:12] mmagnus commented on #18
I'm not sure about it. It would be great, I've never researched it though.

@akaped also wanted something like this but I'm not sure if he got this running from crontab..,

[2020-05-15 12:23] Monirzadeh commented on #18
[this project](https://github.com/al1b/KTOP) has cli option for the caliber plugin maybe can be helpful
some other option can go to the top of script like
[code]
i don't know why i can't send a PR (403 Error)

[2020-05-15 12:30] mmagnus commented on #18
I'm not sure why you can't PR. I added you as a collaborator.

[2020-05-15 12:31] mmagnus commented on #18
I'm not sure what this options do, so I can't document them, so I didn't move them to the top. But sure, we can do it, can you write some documentation what they do?

[2020-05-15 12:32] Monirzadeh commented on #18
ok i document them if i found out.

[2020-05-15 12:48] alvaroreig commented on #18
Hi there,

@mmagnus that was fast! I've tested it a little bit. Some comments:

INCLUDE_UNTAGGED => I would name it INCLUDE_EVERYTHING_ELSE, with a comment explaining that if you are using autotag (TAGS = [] ) EVERYTHING_ELSE means UNTAGGED, but if you are specifying a set of tags (TAGS = ['tag1', 'tag2']) then EVERYTHING_ELSE means UNTAGGED + articles tagged with any other tag different than tag1

[2020-05-15 16:31] mmagnus commented on #18
@alvaroreig sure, I added you as a collaborator, feel free to edit it.

[2020-05-15 19:53] mmagnus commented on #18
BTW, for now, only one tag per article will work well.. with two or more, to be improved in the future :-)

[2020-05-16 14:24] mmagnus commented on #18
@Monirzadeh @akaped

I have been trying to find a way to fix missing titles. I got to a page with some extra info on plugins [1], and there was info on how to debug the plugin and how to run it from the terminal. And then EUREKA! This is what we want to be able to run this script in the background. I also felt annoying to open Calibre to send me some news whenever I want to read them. I hacked als

[2020-05-16 14:24] mmagnus commented on #18
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/blob/master/Pocket-send-to-amazon.py

[2020-05-16 17:58] mmagnus commented on #18
@alvaroreig  yeah, thanks for the suggestion, this is so great!

     $ calibre-smtp -a Pocket.mobi -u mag_dex --password XXXXXX FROM AMAZON_MAIL BODY --encryption-method SSL -v -r poczta.o2.pl

works!

[2020-05-16 18:24] mmagnus commented on #18
![screenshot_2020_05_16T18_02_13+0200](https://user-images.githubusercontent.com/118740/82127360-3279ba80-97b3-11ea-8515-78ed201a0b9d.png)
BTW I added a nice touch to the book :D

[2020-05-16 19:24] mmagnus opened #21 "make real periodicals [½ SOLUTION use USB]"
I would love to be able to group all Pocket ebooks under one Pocket periodical icon (where all ebooks are grouped). But I have no idea how to do it, any ideas?

https://stackoverflow.com/questions/5379565/kindle-periodical-format

http://www.mobileread.mobi/forums/showthread.php?t=241787

my research here....

[2020-05-16 20:33] mmagnus commented on #21
![screenshot_2020_05_16T21_34_30+0200](https://user-images.githubusercontent.com/118740/82129749-36aed380-97c5-11ea-8ea6-031a1531084a.png)
![screenshot_2020_05_16T21_35_21+0200](https://user-images.githubusercontent.com/118740/82129750-38789700-97c5-11ea-9311-8d5de3ebb583.png)
I see that once I was able to do it.

[2020-05-17 09:50] mmagnus commented on #21
Kovid Goyal (kovid) wrote on 2015-07-18: Re: calibre bug 1475839 | #2

Amazon reformats all files you send by email to remove periodical
metadata from the header. Use a USB connection or complain to Amazon.

 status invalid

https://bugs.launchpad.net/calibre/+bug/1475839

[2020-05-18 08:53] mmagnus commented on #21
OK, it's super crazy

**MOBI VS POBI**
When you put a MOBI file of a periodical, it will have .MOBI extension for now, but when you reconnect Kindle it the file will have .pobi extension now. POBI is a variation of MOBI and enables the display of articles and sections in periodical content.

**AUTO-COPY TO KINDLE**
If you download a News book it will be automatically copied to your device (if conn

[2020-05-18 11:52] mmagnus opened #22 "Fix missing titles"
from kovid@kovidgoyal.net

[2020-05-18 11:58] mmagnus commented on #18
OK, I asked Kovid Goyal <kovid@kovidgoyal.net> to take a look at the code, maybe he can help with the missing titles #22

[2020-05-18 20:00] alvaroreig opened #23 "Docker support"
Hi there,

3 years ago I created a Docker image that wrapped around this recipe and some nodejs code. The purpose was to automate the e-book generation and sending with a single line:

`docker run --rm --env-file YOUR_ENV_FILE alvaroreig/pocket2kindle-amd64`

Having installed only docker (and the image) in the server. No calibre.

By that time the archive function failed pretty often, so the code

[2020-05-19 17:23] Monirzadeh commented on #21
i am not sure i get your point but if you want to get all pocket article in a collection maybe [this link](https://www.mobileread.com/forums/showthread.php?t=244202) can be helpful

[2020-05-19 17:41] Monirzadeh commented on #21
i don't get what do you want exactly to do.
i use an old version of kindle firmware and i have just collection that i send them as specific collection with [this plugin](https://www.mobileread.com/forums/showthread.php?t=244202)
is it a new feature that i miss?

[2020-05-19 17:51] Monirzadeh commented on #22
clean up use caliber to clean the web view?
what do think about [this solution](https://github.com/fivefilters/ftr-site-config)?

[2020-05-19 17:52] Tamarissa commented on #17
There is no login window hiding behind Calibre; as such this issue is not resolved and should not have been closed.

As it will show in the debug file previously attached, Calibre shows the pop-up window stating it is processing the request to Pocket, which it can't actually do ask no login info was provided.

[2020-05-19 19:41] mmagnus commented on #17
did you clicked on this?

https://getpocket.com/auth/authorize?request_token=43ae55a8-91f9-dc11-b2d1-123730&redirect_uri=https://calibre-ebook.com/

[2020-05-19 19:44] mmagnus commented on #17
<img width="831" alt="Screen Shot 2020-05-19 at 9 43 39 PM" src="https://user-images.githubusercontent.com/118740/82371091-e7151580-9a19-11ea-86e9-4fe82401316c.png">

[2020-05-19 19:49] mmagnus commented on #21
Ideally I wanted to have Issues like for journals that you buy from Amazon. A collection of nicely files with covers.. but it seems that you can't get really that on your own.

Yeah, collections maybe is the way to go, thanks for this, I will take a look at that.

![screenshot_2020_05_19T21_46_14+0200](https://user-images.githubusercontent.com/118740/82371418-728ea680-9a1a-11ea-8119-dd25be1792c2.p

[2020-05-19 20:36] Monirzadeh commented on #21
sound good.
it is not completely related but there is an [awesome project](https://github.com/koreader/koreader) that may can develop a Pocket Plugin. (i read most of my book with that )

[2020-05-20 02:01] m040601 commented on #15
Please clarify, because I'm not 100% sure.
So you mean that you yourself run it witho python2 installed on your system right ? You dont' have a testing environment with **only python 3** ?

This is to continue giving you feedback of trying to run this recipe in a system with **only** python3.

As I told before we have 3 versions available in ArchLinux:

calibre-common has to be installed always, n

[2020-05-20 07:28] mmagnus commented on #19
@Monirzadeh  this is exciting... I actually I develop something like this right now.. I forgot about this issue.. and then I looked again, and it's pretty much what I just developed. I will push it in the evening.. stay tuned!

[2020-05-20 07:30] mmagnus commented on #15
maybe this ?

https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/issues/23

[2020-05-20 08:50] mmagnus commented on #19
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/blob/master/pocketX/PocketX.recipe

<img width="531" alt="Screen Shot 2020-05-20 at 10 49 11 AM" src="https://user-images.githubusercontent.com/118740/82426029-9d631400-9a87-11ea-91f1-4998296131d3.png">

so it does not produce this sub-books, but you can make on shell script to combine steps into one script

[2020-05-20 15:38] mmagnus opened #24 "pocketX"
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/tree/master/pocketX

I think this might be interesting for some of you. We all have different workflows, but this version of pocket and recipes so far is amazing for me dealing with paywall journals and some more complex ways how to process web pages.

[2020-05-22 11:49] mmagnus commented on #22
@Monirzadeh  yeah, something like that.. or just a simple hack to copy <title> from the article into the main text to create <h1>, I hacked something like this.. but still it's super ugly. I think that would be enough, the script by itself deals with most of the pages very well, in my opinion.

[2020-05-23 08:19] mmagnus commented on #21
OK, Calibre, Release: 4.17 [23 May, 2020], has something interesting to help get nice covers via USB, worked for me, for News.

Add a workaround for Amazon destroying cover thumbnails on e-ink Kindles.
For books sent with this release of calibre, reconnecting the Kindle to calibre after the cover has been destroyed will restore it automatically

[2020-05-26 08:04] mmagnus commented on #18
BTW I developed a hacky way to trigger the plugin from your phone saying to Siri

https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/tree/master/push

I guess for Android phones something similar can be hacked :-)

[2020-05-26 08:05] mmagnus commented on #18
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/tree/master/pocketX

I think this might be interesting for some of you. We all have different workflows, but this version of pocket and recipes so far is amazing for me dealing with paywall journals and some more complex ways how to process web pages.

[2020-05-27 04:59] ssd2 opened #25 "sort order options"
For most tags, sorting oldest or newest is great.
However, I've got a few tags where sorting by title (or post date rather than bookmark date?) would be a lot better.  I don't know if there are other useful sortable attributes.

This would be a great enchancement.

[2020-05-27 12:15] mmagnus commented on #25
OK, I got something to sort by title things that are downloaded based on your config.

So this is important! The articles are sorted after being downloaded, so this does not work on articles in Pocket. So if you MAX_ARTICLES_PER_FEED = 2 for example, first it will fetch 2 articles based on your configuration and they will be sorted.

So this might do what you want, but this depends on all of these

[2020-06-02 15:40] #22 closed

[2020-06-02 15:45] mmagnus commented on #18
I think I fixed missing title with postprocess_html() Works for me for now.

https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/commit/4909dba9d16a79ae0388f00b7821440f7fd49a5c

[2020-06-02 17:19] ssd2 commented on #25
For the tags I'd like to sort by title, the number of articles is less than MAX_ARTICLES_PER_FEED so that's not too big of a deal.

[2020-06-02 18:21] mmagnus commented on #25
Yeah, this is what I thought.

So this is what you wanted? :-) @ssd2

[2020-06-04 16:14] mmagnus commented on #18
I coded adding URL to pocketx.recipe . This is pretty cool. You can use Kindle Browser to go the page and see for example full page with comments. Pretty useful.

![screenshot_2020_06_03T22_44_43+0200](https://user-images.githubusercontent.com/118740/83781656-2173e900-a68f-11ea-8c90-cafd9e625aa6.png)
![screenshot_2020_06_03T23_00_14+0200](https://user-images.githubusercontent.com/118740/83781671-2

[2020-06-04 16:18] mmagnus commented on #18
I also coded auto tags assignment based on URLs.

[code]
this will assign given tags to articles with given URLs.

[2020-06-04 16:21] mmagnus commented on #18
My plan now is to add QR code for this to be able to view any content on my phone, for example, YouTube video.

[2020-06-04 19:01] mmagnus commented on #18
WORKS!!!!!!!!!!!!!!

![screenshot_2020_06_04T20_58_08+0200](https://user-images.githubusercontent.com/118740/83799726-85ee7280-a6a6-11ea-8bcf-5c40a3f46c7f.png)

[2020-06-04 19:08] mmagnus commented on #18
Calibre is using its own Python, so you have to add something like this to import qrcode

"""
install pip qrcode and add a path here for "Calibre's Python"
if you don't know what the path is, just run your python and then

"""
sys.path.append("/usr/local/lib/python2.7/site-packages")
import qrcode

[2020-06-04 19:59] #25 closed

[2020-06-06 15:18] mmagnus commented on #18
Ok, I see adding titles and URLs not always work. I'll try to fix it.

[2020-06-08 16:59] ssd2 commented on #25
I'll have to test it again.  First time I tested, it didn't succeed in downloading any articles for some reason.

[2020-06-09 09:05] mmagnus commented on #25
OK, let me know if it works, if not, then I will re-open this issue :-)

[2020-07-09 18:59] mmagnus commented on #18
OK, I pushed my changes regarding URL and QR.

[2020-07-10 13:56] alvaroreig commented on #18
Hi there @mmagnus

I just updated to 2.6.2 and I can't see the url or the QR. Are you sure?

By the way, the recipe fails to download images in one of my favorite webpages:

`
Failed to find image: https://www.jotdown.es/2020/07/a-las-que-callan/
`
Any tips on how to debug/fix it?

Thanks, regards

[2020-09-30 04:29] bermudi opened #26 "'dict_keys' object is not subscriptable"
Tried to fetch articles from Pocket with default settings and got a `no new articles` message so I tried changing the settings to this:

    # CONFIGURATION ###########################################################
    TAGS = [] # [] or ['tag1', 'tag2']
    TAGS_EXCEPTIONS = [] # [] or ['tag3', 'tag4']
    INCLUDE_UNTAGGED = True
    ARCHIVE_DOWNLOADED = True
    MAX_ARTICLES_PER_FEED = 30
    O

[2020-10-30 21:33] AkashPatel95 commented on #26
Getting similar error. Installed latest Calibre - 5.4.2 and still getting same error!

[2020-11-03 16:09] ssaraj543 commented on #26
Same error on my end. Latest Calibre. Would love to get some help on this. Bought Crofflr in the meantime, but it's not quite the same.

[2020-11-03 16:24] AkashPatel95 commented on #26
Try this pull request. Worked for me. Go to your calibre --> news --> add/edit custom source --> select pocket --> modify --> apply this change in line #289
https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/pull/27/files

[2020-11-22 19:22] #26 closed

[2020-11-22 19:22] mmagnus commented on #26
@AkashPatel95  thanks for this fix!

[2020-12-13 06:57] tvqt opened #28 "UnboundLocalError: local variable 'response' referenced before assignment"
Hi there,

I recently got a Mac for the first time, and installed calibre + pocket plus, as i did on my old pc. for some reason, the plugin doesn't seem to work! the error log is below

Things I've tried:
- changing the output profile
- using the old version of the plugin
- playing around with the code a bit (I know a bit of Python, but I'm in over my head lol)

Thoughts:
- It could be user error

[2020-12-13 07:20] tvqt commented on #28
update: i installed Calibre 4.32, and an Pocket Plus 2.31, and they both work! I'm gonna see if I can narrow it down to a particular version of either

[2020-12-13 12:26] mmagnus commented on #28
Dear @tvqt

For me:

    Plugin version: 2.6.3
    Calibre 5.5.0
    Mac Catalina 10.15.7

it works. The plugin should work with these (new) versions. If you use older versions, we did have various problems on the way, so that you could stumble on one of them. Let me know if there is a problem with the updated versions of the plugin and Calibre.

[2020-12-14 02:55] tvqt commented on #28
yeah, the

(at least in my experience) there seems to be some kind of issue. I had a bit of a play around with different versions yesterday; one (I think version 2.5.2?) seemed to find articles, but then was trying to download everything, when I set the max to 1 ^_^

The bug was with the most updated version of everything ( calibre 5.7.2, Pocket Plus 2.6.3, MacOS Big Sur 11.0). I'll download Calib

[2021-01-14 13:36] lhoupert opened #29 "How to manage subscription-based sites ?"
Thank you for this great plugin! I was wondering if there was a way to handle subscription-based website?

I found some information about it on https://help.getpocket.com/article/1065-saving-from-subscription-based-sites and I managed to add articles from subscription-based website in my Android app but I cannot see them properly in the ebook.

It is certainly due to the fact that they don't appea

[2021-01-15 12:49] #28 closed

[2021-02-07 20:00] mmagnus commented on #29
Dear @lhoupert, it's possible but it's ugly and complicated. This plugin will not manage multiple logins etc.

One super hacky solution is to use my pocketX [1]. pocketX is a version of this plugin here I made for myself to read a Polish journal Polityka (behind paywall).

The hack is that when this plugin reads your Pocket, it will detect links to Polityka (in my case) and will create an RSS feed

[2021-03-04 10:12] mmagnus opened #30 "Pocket-Plus-Calibre-Plugin for Boox [PDF-based]"
I've recently moved from Kindle to Boox for my reading of Pocketed articles.

There is an easy way to get articles from Pocket to make a PDF and then transfer it to Boox.

[code]

https://www.boox.com/noteair/

Mind, screenshots are in color ;-) but the e-ink display is not ;-)

![Screenshot_20210304-111505](https://user-images.githubusercontent.com/118740/109948949-1b24a300-7cdb-11eb-9818-146a448

[2021-03-05 18:01] alvaroreig commented on #30
hi there @mmagnus

I've got a couple questions for you if you have the time.

- How happy are you with your Book, in general?
- If it has android and therefore you can access pocket directly, why generate the ebook in the first place?
- Do you use other android aps in it? In general, do they work ok? I mean, it's just a normal tablet except for the e-ink screen?

I ask you because I am considering

[2021-03-05 21:00] mmagnus commented on #30
Dear @alvaroreig I hope you're doing well in this pretty crazy world right now.

Great questions :-) and yeah, precisely to the point.

I was not sure about Boox at all. I love my Kindle, and with this plugin in here, I love my Kindle even more. But, at some point, pretty randomly, I bought a Boox device (Nova, 8'', a smaller one than my Boox Air), and I started to enjoy writing on it when I was r

[2021-03-06 20:40] alvaroreig commented on #30
I am ok, hope you are as well @mmagnus .
Thanks a lot for your input, I will keep that in mind. I am still debating which is the best use case for me right now, as I bounce from reading articles in Kindle to listening to them in Pocket.

[2021-03-08 17:25] mmagnus commented on #30
Yeah, I was doing the same. BTW, you can listen to any text in Boox (which you can't do on Kindle), you can just select a text and let Boox read it for you. This is pretty amazing, I yet another reason I use Kindle less and less nowadays.

And often I want to archive long, important articles (sometimes behind paywall which often doesn't work with Pocket) as PDF to have a copy of that with annotati

[2021-03-18 19:27] mmagnus commented on #30
Just some example of other apps, pretty slow and unusable
https://youtu.be/reHTpNNltPo

[2021-05-11 21:52] nhohung opened #33 "KeyError: 'resolved_title'"
Hello,

This is my first try of the plugin and it doesn't seem to work. The error is: `KeyError: 'resolved_title'`.

My unarchived list has about 25 articles. I tested the latest Calibre 5.17 on my Windows laptop and an older version 3.48 on my Mac (High Sierra) without any luck. In both cases, the latest plugin is used (2.7.1).

At first I thought for some reason the title is not parsed correctly

[2021-05-12 08:08] #30 closed

[2021-05-12 08:09] #18 closed

[2021-05-12 08:09] #29 closed

[2021-05-13 22:47] nhohung commented on #33
When investigating the dictionary `section_dict` that contains articles, I found each article has the following fields as an example:
[code]
However I found a weird one:
[code]
This is the reason for the error `KeyError: 'resolved_title'` because there is no `resolved_title`. Some other required keys are missing too: `resolved_url`, `time_added` and `excerpt`.

I think it relates to `status` of `2

[2021-05-14 22:13] nhohung commented on #33
### Current issue

The problem is a bit clearer after I look at the article descriptions on [Pocket API page](https://getpocket.com/developer/docs/v3/retrieve). `status` of `2` indicates item should be deleted. For some reasons `status` of untagged articles after retrieving is `2`.

Digging deeper into the code I found in this version (2.7.1), defining `TAGS` organizes output sections will create

[2021-05-15 18:25] alvaroreig commented on #33
Hi there @nhohung

Before testing your PR I tried to replicate these errors.

I can confirm that the plugin only reads the first tag of every article. If I tag 2 articles like that:

Article1 => tag1
Article2 => tag1,tag2

And I set:

TAGS = ['tag1','tag2']

I only get:

tag1 => article1,article2

However, I cant repplicate the second error. In my tests, these configuration:

TAGS = ['tag1','tag2'

[2021-05-15 20:29] nhohung commented on #33
Hi @alvaroreig,

Thank you for confirming the multi-tag glitch. The PR is trying to fix it and not related to the original error message in this issue.

Regarding this issue (`KeyError: 'resolved_title'`), after reading your reply I think there might be one difference between our cases with respect to the `INCLUDE_UNTAGGED` option: you actually have untagged articles while I don't (all articles ha

[2021-05-19 18:29] #23 closed

[2021-05-19 18:29] #15 closed

[2021-05-19 18:29] #21 closed

[2021-05-19 18:30] #19 closed

[2021-05-19 18:45] mmagnus commented on #33
Yeah, I can confirm that. OK, I'm also looking how to fix it, Thanks @nhohung for reporting this issue.

[code]

[2021-05-19 21:13] nhohung commented on #33
Hi @mmagnus,

I made a condition check for `status==2` before appending articles to `arts` (line 339) to eliminate the 'ghost articles'. The code now runs as expected.

Still don't know why the API returns this value of 2 though. I looked up on Pocket API help page but there is not too much detail with key.

[code]

[2021-05-22 09:48] nhohung commented on #33
Latest investigation update:

Version 2.6.3 does see these `status=2` articles when `TO_PULL = 'all'` and `INCLUDE_UNTAGGED = True`. I contacted Pocket API support but there was no response so far.

In my pull request #38, I've added a commit with a `KeyError` handler that temporary fixes this problem.

The fact that it doesn't failed when `INCLUDE_UNTAGGED = False` (no matter what `TO_PULL` is) m

[2021-05-22 10:49] nhohung commented on #33
Hi @mmagnus, found it here from line 306:
[code]

When `TO_PULL = 'all'`, the API returns all Pockets articles including read (archived), unread, and deleted ones (which has status of 2 and are not shown in the main list). `status=2` articles (hereafter called 'ghost articles') have only 3 keys: unique `item_id`, `status=2` (always), and `listen_duration_estimate=0` (always).

When the plugin hits

[2021-05-24 06:02] mizzunet opened #43 "Terminal only installation"
Can I setup this via terminal only? I'm thinking running crun job in a server I got. Is this possible? Thank you

[2021-05-24 10:16] mmagnus commented on #43
Take a look here https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/discussions/39

I guess @alvaroreig could help you with that.

[2021-05-24 10:16] #43 closed

[2021-05-29 09:28] nhohung commented on #33
I have implemented option 2 to replace option 1 in the pull request #38. The latest commit should handle multi-tag articles and also fix this key missing issue. Please give it a go.
Cheers.

[2021-07-31 08:08] #33 closed

[2021-10-01 22:21] nhohung opened #45 "SSL Error: Certificate verify failed, expired, _ssl.c:1123"
Hello,

I was trying to fetch some blog articles and ran into an error:
`ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1123)`

The problem seems to be reproducible, for example, with these two following articles:
[https://nguyenvantuan.info/nguyens-research-group/](https://nguyenvantuan.info/nguyens-research-group/)
[https

[2021-10-03 12:26] mmagnus commented on #45
@nhohung for me it's ok

[2021-10-03 22:48] nhohung commented on #45
Hmm, that's strange, but thanks for checking.
I'm aware that the Root CA X3 security certificate has changed to ISRG Root X1 after September 30.
Nevertheless, I updated my PC today and it still didn't solve the problem. :(

[2021-10-04 14:51] mmagnus commented on #45
@alvaroreig does it work for you?

[2021-10-04 19:37] alvaroreig commented on #45
Hi there,

I just tested it with the two articles @nhohung provided and it worked ok:

[code]
Both articles appear in the ebook.

Environment:

[code]
Regards

[2021-10-06 18:02] nhohung commented on #45
I've just tested it on my Mac and the articles were fetched normally. This case: python 2.7.16, calibre 3.48.
This will need more trials to narrow down the root cause but I don't have much time during the week.
Will catch up with you guys later. Thanks again.

[2021-10-18 20:18] rykes21 opened #46 "Fetch news error with Pocket"
Unable to fetch news from Pocket account. The following error occurs on Calibre version 5.29.0 (I tried it on older versions no success):

[code]

[2021-10-18 20:29] mmagnus commented on #46
@rykes21 yeah, it also happened to me, I have to look into that, how to fix it.

[2021-10-23 16:01] #46 closed, assigned to nobody

[2022-01-13 23:16] grandsilence opened #49 "Images are missing or their quality are awful [from habr.com]"
Hi. I've got issues with images. Image quality is awful or it's even missing for some articles (loader image placeholder).

Please check spoilers below:

## Missing Images Examples

<details>
  <summary>Missing image example 1</summary>

  ![screenshot_2022_01_13T23_20_23+0300](https://user-images.githubusercontent.com/9817522/149422918-bcf2b2cf-7aaa-4807-a6be-1cc5885b5b09.png)
</details>

<detail

[2022-02-09 20:14] mmagnus commented on #49
dear @grandsilence, does it also happen for other articles (most of them) or this one?

[2022-02-09 21:09] grandsilence commented on #49
@mmagnus Most of them on [habr.com](https://habr.com). Here is [the article from screenshot](https://habr.com/ru/post/596373/).
What information should I provide so that you can reproduce the problem?

[2022-02-10 08:44] mmagnus commented on #49
Yeah, I have it. It seems that this page first loads some thumbnails and then load full images. I think for now I don't have an idea how to fix it. It seems also a site-specific bug, so I will keep it open; maybe someone will be able to fix it / help or at some point, I will happen to find a fix/option in Calibre to fix it.

You can also try to run a Recipe specific for this page, like this one:
h

[2022-02-10 15:08] grandsilence commented on #49
@mmagnus Thank you very much for your reply. I will definitely try the recipe. Is there any way to correct the quality of the images?

[2022-02-10 15:17] mmagnus commented on #49
I'm not sure. For other pages everything works, so here it seems we should tell Calibre to wait for full pictures to process into a book, I'm not sure how to do this.

[2022-02-10 15:26] grandsilence commented on #49
Thank you. Maybe I'll try to figure it out myself.

чт, 10 февр. 2022 г. в 18:18, Marcin Magnus ***@***.***>:

[2022-02-10 15:26] grandsilence commented on #49
@mmagnus Thank you. Maybe I'll try to figure it out myself.

[2022-02-18 02:29] mikeyreiach opened #50 "Linux / Raspberry Pi?"
Thanks for your work on the plugin. Tried it out on my Mac and it works as expected. I installed the plug in on my Raspberry Pi as it's more likely to be active for a scheduled delivery but it seems that the plug in runs, but there are no articles in the .mobi file. Does it work on Linux / Raspbian?

I can confirm that the Pocket account was authorized. It did identify tags that I have used, so I

[2022-02-18 07:49] mmagnus commented on #50
Do you have any log? Maybe indeed Pocket was not authorized.  You can look here, @alvaroreig has something  for Docker, maybe there is more information how to port it to Pi https://github.com/mmagnus/Pocket-Plus-Calibre-Plugin/issues/23 @akaped have you tried Calibre/Pocket for Pi?

[2022-03-28 21:05] Yolakalemowa opened #51 "How to include archived items?"
Hi,

I hope I'm not mistaken or missed in the documentation but I didn't find a way to sync the archived items...

is there a way to include them?

thanks a lot for a great plugin

[2022-03-29 08:19] mmagnus commented on #51
Dear @Yolakalemowa, you can change TO_PULL to 'all', (so in python `TO_PULL='all'`), and then all articles will be considered to be converted into a book (but not specifically only archived, if this is what you want, getting only archived is impossible at the moment I guess.)

       **TO_PULL** ('all' or 'unread') What articles to pull? unread only or all?

[2022-03-29 11:00] Yolakalemowa commented on #51
thank you @mmagnus sorry I missed that obvious one. I didn't know items in main list are called "unread".

[2022-03-29 12:25] Yolakalemowa opened #52 "Keeps stopping... error, very high MAX_ARTICLES_PER_FEED and OLDEST_ARTICLE"
Hi,

Not sure what's wrong... I tried it 4 times and it keeps stopping at the beginning: 6% or 9% or 15%...

Looking at the job detail doesn't show anything significant it just stops.

this is my settings is smthn wrong? I picked large numbers to ensure it downloads every single article I have on there:

`
# CONFIGURATION ###########################################################
TAGS = [] # [] o

[2022-03-29 13:06] mmagnus commented on #51
Yeah, I agree this is not the most obvious naming. I hope this will work, let me know if not. Enjoy!

[2022-03-29 13:08] mmagnus commented on #52
Yeah @Yolakalemowa maybe these numbers are too high. I don't use so high numbers so maybe there are some issues with the performance of the code, that we usually don't see.

Can you try with the default values (for MAX_ARTICLES_PER_FEED   OLDEST_ARTICLE) and TO_PULL = 'unread' to see if the high numbers are the problem?